extends layout2

block content
    .container
        .table-responsive
            table.table.table-condensed
                thead
                    tr(bgcolor='#DAE8F6')
                        td(width='80', padding='30') test1
                        td test2
                        td test3
                        td test4
                        td test5
                tbody
                    tr
                        td.active test1
                        td.success test2
                        td.warning test3
                        td.danger test4
                        td.info test5
        h2 User Info
        p.bg-danger
            strong Name:
            span#userInfoName
            br
            br
            strong Age:
            |  <span id='userInfoAge'></span>
            br
            dl.dl-horizontal.input-group-addon
                dt Gender:
                dd
                    span#userInfoGender
                br
                dt Location:
                dd <span id='userInfoLocation'></span>
        // /USER INFO

        // USER LIST
        h2 User List
        .table-responsive
            table.table.table-hover
                thead
                    tr
                        td.active #
                        td.success Name
                        td.warning Email
                        td.info Delete?
                tbody
        // /USER LIST

        // ADD USER
        h2 Add User
        fieldset
            input#inputUserName(type='text', placeholder='Username')
            //| &nbsp; &nbsp; &nbsp;
            input#inputUserEmail(type='text', placeholder='Email')
            br
            input#inputUserFullname(type='text', placeholder='Full Name')
            //| &nbsp; &nbsp; &nbsp;
            input#inputUserAge(type='text', placeholder='Age')
            br
            input#inputUserLocation(type='text', placeholder='Location')
            //| &nbsp; &nbsp; &nbsp;
            input#inputUserGender(type='text', placeholder='gender')
            br
            button#btnAddUser.btn.btn-primary.btn-block Add User
        // /ADD USER

        #import(style='width:100%;height:100%;background:#fff;')
            .event-android-top
                a.button.diaRegBtn.is_not_login(href='javascript:void(0);', activity='')
                    span 立即注册 开始学习
                #onKeyLogin.onKeyLogin.is_not_login
                    | 免注册，一键登录
                    a(href='http://passport.jikexueyuan.com/connect/qq')
                        img(src='./static/images/bootstrap/qq1.png', alt='qq登录')
                    a(href='http://passport.jikexueyuan.com/connect/weixin')
                        img(src='./static/images/bootstrap/wechatlogo.png', alt='微信登录')
                    a(href='http://passport.jikexueyuan.com/connect/weibo')
                        img(src='./static/images/bootstrap/weibologo.png', alt='微博登录')
