doctype html
html(lang="zh-CN")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='')
    meta(name='author', content='')
    
    title= title

    link(rel='stylesheet', href='/css/dashboard.css')
    link(rel='stylesheet', href='/css/normalize.css')
    //link(rel='stylesheet', href='/stylesheets/style.css')
    //link(rel="stylesheet/less", type="text/css", href='/stylesheets/style.less')

    // layout http://www.bootcss.com/p/layoutit/
    link(rel="stylesheet", href="/css/bootstrap-combined.min.css")
    link(rel="stylesheet", href="/css/layoutit.css")

    // 新 Bootstrap 核心 CSS 文件
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    // 可选的Bootstrap主题文件（一般不用引入）
    link(rel="stylesheet", href="/css/bootstrap-theme.min.css")

    link(rel="stylesheet", href="/css/bootstrap-combined.min.css")

    // hubsport 弹框组件
    link(rel="stylesheet", href="/css/messenger.css")
    link(rel="stylesheet", href="/css/messenger-theme-future.css")

    link(rel="stylesheet", href="/css/register.css")
    link(rel="stylesheet", href="/css/jike.css")

    style.
      .onKeyLogin {margin: 15px auto;;color: #563d7c;font-size: 14px;text-align: center;display: none;}
      .onKeyLogin a {overflow: hidden;display: inline-block;width: 22px;height: 22px;margin: 0 7px;vertical-align: middle;}
      .onKeyLogin a img {width: 100%;height: 100%; margin-top: 0 ;}

  body
    block content    

    script(src="/js/less.min.js", type="text/javascript")
    // jQuery文件。务必在bootstrap.min.js 之前引入
    script(src="/js/jquery.min.js")
    // 最新的 Bootstrap 核心 JavaScript 文件
    script(src="/js/bootstrap.min.js")

    script(src="/js/messenger.min.js")
    script(src="/js/LoginAndRegister.js")

    script(src='/js/holder.js')
    script(src='/js/global.js')