extends layout2

block content
	.container
		.table-responsive
			table.table.table-hover
				thead
					tr
						td.active test1
						td.success test2
						td.warning test3
						td.danger test4
						td.info test5
				tbody
					tr
						td.active test1
						td.success test2
						td.warning test3
						td.danger test4
						td.info test5

		h6 h6. Bootstrap heading
		p.text-left Left aligned text.
		p.text-center Center aligned text.
		p.text-right Right aligned text.
		p.text-justify Justified text.
		p.text-nowrap No wrap text.		
		p.text-lowercase Lowercased text.
		p.text-uppercase Uppercased text.
		p.text-capitalize Capitalized text.
		
		abbr(title="attribute") attr
		br
		abbr.initialism(title="HyperText Markup Language") HTML
		br
		
		address
			strong Twitter, Inc.
			br
			| 795 Folsom Ave, Suite 600
			br
			| San Francisco, CA 94107
			br
			abbr(title="Phone") P:
			| (123) 456-7890
		address
			strong Full Name
			br
			a(href="mailto:#") first.last@example.com	
			
		blockquote
			p
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
	
		blockquote.blockquote-reverse
			p
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
			footer
				| Someone famous in
				cite(title="Source Title")  Source Title
		dl.dl-horizontal
			dt Nullam：
			dd Cum sociis 
			dt nascetur：
			dd jack
		u Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, 
		small nisi erat  
		em porttitor 
		small ligula 
		strong eget lacinia odio sem nec elit.
		<br>
		s You can use the mark tag to 
		mark highlight
		ins text.
		
		| For example,
		code &#60;section&#62;
		| should be wrapped as inline.
		
		| To switch directories, type
		kbd alt+.
		| followed by the name of the directory.
		br
		| To edit settings, press
		kbd
			kbd ctrl
			| +
			kbd ,
		pre.
			<p>Sample text here...</p>
		pre.
			test  
		var y
		| =
		var m
		var x
		| +
		var b
		
		samp This text is meant to be treated as sample output from a computer program.
		